.about_me-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.about_me-one{
    width: 40%;
    display: flex;
    align-items: center;
}

.about_me-img{
    width: 400px;
}

.about_me-two{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about_me-title{
    font-family: var(--rubik);
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 30px;
}

.about_me-paragraph{
    line-height: 25px;
    text-align: left;
}