:root{
    --rubik: 'Rubik', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --white: #ffffff;
    --light: #f8f9fa;
    --gray: #6c757d;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --dark: #343a40; 
}
body{
    
}

/* header */
header{
    margin: 0 10%;
}

.container_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header{
    width: 200px;
    margin-top: 20px;
}

header nav{
    display: flex;
}

.menuItems{
    text-align: center;
    margin: 20px 15px;
    font-size: 14px;
    font-family: var(--rubik);
    font-weight:500;
    text-decoration: none;
    color: var(--dark);
}

/* principal */

.principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.principal_one{
    display: flex;

}

.title_three{
    font-family: var(--roboto);
    font-size: 40px;
    text-align: center;
}

.title_one{
    font-size: 50px;
    font-family: var(--roboto);
}

.title_five{
    font-size: 40px;
    font-family: var(--roboto);
}

.contact_me_button{
    
}

.dawnload_button{

}

.principal_two{
}

.image_hero{
    width: 600px;
}

