

/* header */
header{
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
    background-color: #f3f3ff;
    left: 50%;
    transform: translateX(-50%);
}

header.active{
    position: fixed;
    top: 0;
    max-width: 100%;
}

.container_header{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.logo_header{
    width: 200px;
}

header nav{
    display: flex;
}

.menuItems{
    text-align: center;
    font-size: 15px;
    font-family: var(--rubik);
    font-weight:400;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

/* principal */

.principal{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
}

.principal_one{
    display: flex;
    flex-direction: column;

}

.principal_one_titles{
    font-family: var(--rubik);
}

.title_three{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
}

.title_one{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #000;
}

.title_five{
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--dark);
}

.principal_one_buttons{
    display: flex;
    align-items: center;
}

.contact_me_button{
    padding: 15px;
    width: 30%;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--light);
    border-radius: 5px;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact_me_button:hover{
    background-image: var(--light);
    border: solid 2px var(--indigo);
    color: var(--dark);
}

.download_button{
    padding: 15px;
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark);
    border-radius: 5px;
    border-style: solid;
    border-color:var(--purple);
    color: #000;
}

.principal_two{
    display: flex;
}

.image_hero{
    width: 600px;
}

