:root{
    --rubik: 'Rubik', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --white: #ffffff;
    --light: #f8f9fa;
    --gray: #6c757d;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --dark: #343a40; 
}
body{
    
}

/* header */
header{
    margin: 0 10%;
}

.container_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header{
    width: 200px;
    margin-top: 20px;
}

header nav{
    display: flex;
}

.menuItems{
    text-align: center;
    margin: 20px 15px;
    font-size: 15px;
    font-family: var(--rubik);
    font-weight:500;
    text-decoration: none;
    color: var(--gray);
}

/* principal */

.principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.principal_one{
    display: flex;
    flex-direction: column;

}

.principal_one_titles{
    font-family: var(--rubik);
}

.title_three{
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 400;
    color: var(--dark);
}

.title_one{
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--dark);
}

.title_five{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    color: var(--gray);
}

.principal_one_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_me_button{
    padding: 15px;
    width: 30%;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray);
}

.download_button{
    padding: 15px;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray);
}

.principal_two{
}

.image_hero{
    width: 700px;
}

