
.projects_title{
    font-family: var(--rubik);
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.container_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 90px;
}

.project_card{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: 450px;
    background-color: var(--lila);
    border-radius: 20px;
    box-shadow: rgb(160 174 192 / 60%) 0px 4px 6px;
}

.container_title{
    background-color: var(--ligth_purple);
    margin-bottom: 15px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.container_title h1{
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
}

.project_card_img{
    width: 400px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.container_buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.buttons{
    padding: 12px 55px;
    border-radius: 10px;
    background-color:var(--black);
    color: var(--white);
    font-size: 15px;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

.buttons:hover{
    background: var(--purple);
}

.container_description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 123px;
    padding: 0 20px;
    background-color: var(--purple);
    position: absolute;
    right: -400px;
    top: 120px;
    color: var(--white);
    line-height: 1.3;
    border-radius: 10px 0 0 10px;
    transition: all 0.5s ease;
}

.container_tecnologies{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 74px;
    padding: 0 20px;
    background-color: var(--purple);
    position: absolute;
    border-radius: 0 10px 10px 0;
    left: -250px;
    bottom: 100px;
    transition: all 0.5s ease;
}

.container_tecnologies ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_tecnologies img{
    width: 40px;
    margin: 0 10px;
}

.project_card:hover .project_card_img{
    transform: scale(0);
}

.project_card:hover .container_description{
    right: 0;
}

.project_card:hover .container_tecnologies{
    left: 0;
}



