/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6f42c1 #eeeefc15;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  *::-webkit-scrollbar {
    width: 14px;
  }
  
  *::-webkit-scrollbar-track {
    background: #eeeefc15;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #6f42c1;
    border-radius: 20px;
    border: 1px solid #eeeefc15;
  }


  