.skills{
    background-color: var(--lila);
}

.skills_title{
    font-family: var(--rubik);
    font-size: 40px;
    color: #000;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}

.skills_container{
    max-width: 1200px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 80px;
}

.skills_container img{
    width: 100px;
}