
.skills_title{
    font-family: var(--rubik);
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.skills_container{
    max-width: 1200px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 80px;
}

.skills_container img{
    width: 100px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.skills_container img:hover{
    transform: scale(1.1);
}