
.studies_title{
    font-family: var(--rubik);
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.studies_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 90px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    padding: 10px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease 0s;
    background-color: var(--lila);
}

.card:hover{
    background-color: var(--light);
    box-shadow: 0px 15px 30px rgb(77 87 222 / 30%);
}

.card img{
    width: 100px;
    margin: 50px 0;
}

.cards_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card h1{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 17px;
    color: var(--black);
}

.card p{
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}